@import 'reset';
@import 'global';

@main-color: rgb(34, 34, 34);
@accent-color: rgb(71, 71, 71);

@color-1: #f8757f;
@color-2: #4cc7d4;
@deg: 90deg;
@slider-val1: 100%;
@slider-val2: 0%;

textarea:focus,
input:focus,
button:focus,
span:focus {
	outline: none;
}
